[project]
name = "aicg-b-a-ba"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "numpy>=2.3.4",
    "tinygrad>=0.11.0",
]
